


.footer{
    background-image: linear-gradient(to bottom, #160303ee, #161414bd), url("../../../assets/img/product/isteğe-göre-tekkatlı-ev.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  
    // background-color: rgb(149, 140, 140);
    padding: 10rem;
    color: rgb(252, 246, 252);
    margin-top: 2rem;
    
    .row{
      [class^="col"]{
        .gmail-info{
          white-space: nowrap;
        }
        .instegram-info{
          white-space: nowrap;
          a{
            text-decoration: none;
            color:  rgb(252, 246, 252);
          }
        }
  
        h2{
          border-bottom: 1px dotted rgb(102, 101, 101) ;
        }
        
        p{
          font-size: 1rem;
          font-weight: 500;
          
          &:nth-child(3){
            a{
              text-decoration: none;
              color: rgb(225, 11, 236);
            }
          }
         
         
        }
  
        h2{
          color: rgba(10, 220, 235, 0.908);
          font-weight: 800;
          cursor: pointer;
          &:hover{
            color: rgb(235, 201, 28);
            transform: scale(1.1);
          }
          
        }
      }
      a{
        display: inline;
        text-align: end;
        cursor: none;
        &:hover{
          cursor: pointer;
        }
  
  
          .whatsUp{
            background-color: rgb(21, 182, 12);
            border-radius: 50%;
          
            
            
            &:hover{
              transform: scale(1.1);
              cursor: pointer;
              border: 2px solid  rgb(69, 111, 6);
              
            }
          }
        
      }
    }
  }