

.home-page{

  font-weight:1.2rem;
   

  .header-navbar{
  background-color: rgba(234, 236, 239, 0.928);

  .gradiant{
    background-image: linear-gradient(to bottom, #e5a2a2cd, #fadfdfbe), url("../../../assets/img/product/0aa0ee14-5e8c-4244-a15c-266c8e5e33a0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    // background-image: linear-gradient(180deg,  rgb(98, 98, 103),  rgb(149, 149, 191) );
  
    .gradiant-container{
      .zirve-topbar{
        display: flex;
        justify-content: space-between;
        position: relative;
        // z-index: 99;
        [class^="col"]{
          &:nth-child(1){
            z-index: 99;
          }
         
        
        }
        // &::after{
        //   content: "";
        //   position: absolute;
        //   top: 0;
        //   right: 0;
        //   bottom: 0;
        //   left: 0;
        //   background-image: linear-gradient(180deg,  rgb(98, 98, 103),  rgb(149, 149, 191) );
        //   z-index: 0;
        // }
    
        
      
        .top-number{
          // text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 99;
            a{
              color: rgb(18, 18, 20);
              text-decoration: none;
              font-size: 3rem;
              @media (max-width:768px) {
                font-size: 2rem;
                margin-right: 4rem;
          }
            }
    
           
        }
        
      }

     }

  }
   
  

 
  }
  .navbar-streach{
    background-image: linear-gradient(180deg,rgb(95, 95, 241), #e5a2a2cd   );
    font-size: 1.2rem;
    
    .container{
      a{
        margin-left: 1rem;
        color: white;
        cursor: pointer;
        &:hover{
          color: rgb(237, 229, 4);
        }
      }
    }
  }



.top-body{
  // height:80vh;
  .row{
    .arrow-col-parent{
      
        position: relative;
        .aroow{
          position: relative;
          
          // margin-top: 3rem;
          .arrow-col{
            display: flex;
            justify-content: center;
            transform: translateY(-200%);
            // margin-top: 3rem;
            z-index: 99;
            position: absolute;
           
            span{
              position: absolute;
              display: inline-block;
              width: 2rem;
              height: 2rem;
              border-bottom: 4px solid black;
              border-right: 4px solid black;
              transform: rotate(45deg)  translate(100%, 100% ) ;             
              margin: -1rem;
              animation: arrows-animate 2s infinite;
              z-index: 99;
              &:nth-child(2){
                animation-delay: -0.3s;
              }
              &:nth-child(3){
                animation-delay: -0.6s;
              }

              @keyframes arrows-animate {
                0%
                {
                    opacity: 0;
                    transform: rotate(45deg) translate(-20px, -20px) }
                    
                    50% {
                        opacity: 1;
                    }
            
                    100% {
                        opacity: 0;
                        transform: rotate(45deg) traslate(20px, 20px);
                    }
             }
          
            }
         
        }
        }
      }
    
    .row{

      gap: 2.1rem;
      .right-image{
        &:hover{
          transform: scale(1.1);
        }
        
        figure{
          .figcaption{
            background-color:rgb(69, 69, 248);
            text-align: center;
            color: white;
          }
        }
      }
    }
  }
}

.body-card{
  // margin-top: 10rem;
  height: 25%;

.row{
  .card-map{
    .card{
      img{
        height:10rem;
        &:hover{
          transform: scale(1.1);
        }
      }
    }

  }

}
}

  
.footer{
  background-image: linear-gradient(to bottom, #e5a2a2cd, #fadfdfbe), url("../../../assets/img/product/isteğe-göre-tekkatlı-ev.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  // background-color: rgb(149, 140, 140);
  padding: 10rem;
  color: rgb(48, 1, 50);
  margin-top: 2rem;
  
  .row{
    [class^="col"]{

      h2{
        border-bottom: 1px dotted rgb(102, 101, 101) ;
      }
      
      p{
        font-size: 1rem;
        font-weight: 500;
        
        &:nth-child(3){
          a{
            text-decoration: none;
            color: rgb(225, 11, 236);
          }
        }
       
       
      }

      h2{
        color: rgb(13, 13, 11);
        font-weight: 800;
        cursor: pointer;
        &:hover{
          color: rgb(119, 121, 5);
          transform: scale(1.1);
        }
        
      }
    }
    a{
      display: inline;
      text-align: end;
      cursor: none;
      &:hover{
        cursor: pointer;
      }


        .whatsUp{
          background-color: rgb(146, 191, 79);
          border-radius: 50%;
        
          
          
          &:hover{
            transform: scale(1.1);
            cursor: pointer;
            border: 2px solid  rgb(69, 111, 6);
            
          }
        }
      
    }
  }
}


}