@use "../../../assets/scss/variables" as v;
@use "../../../assets/scss/mixins" as m;
$breakpoint: 992px;

.home-page{

  font-weight:1rem;
   

  

  .planning-photo{

   
    
    .row{
      // height: 80vh;
    [class^="col"]{
      &:nth-child(3){
        
        // background-color: rgb(244, 243, 243);
        padding: 0;
        
        
        .planning-text{ 
          @include m.flexbox(row,center,center,1);
          font-size: 2rem;
          padding: 6rem 1.5rem;
          font-weight: 500;
          
        }
        p{
          font-size: 1.5rem;
          padding: 3rem;
        }
      }
    }
  }
  }
  .save-life{
    background-image: linear-gradient(to left, #0a0a0ae8, #0e0c0c7d),  url("../../../assets/img/product/0aa0ee14-5e8c-4244-a15c-266c8e5e33a0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    // height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    

   .save-lives{
    margin-top: 10rem;
    // height: 100vh;
    justify-content: center;
    align-items: center;

    .work-aria{
       margin-bottom: 5rem;
    }
    
   

    .cardInİmage{

      width: 100vw;
      margin-bottom: 3rem;
     
     
      .row{
       .one, .two, .three, .four{
           .card{
            
            border-top-left-radius: 5rem;
            border-top-right-radius: 5rem;
            border-bottom-left-radius: 1rem ;
            border-bottom-right-radius: 1rem ;
            color: black;    
          
             width: 10rem;
             border-radius: ( 3rem, 0, 0, 0 ) ;  
             img{
              height: 10rem;
              width: 10rem;
              margin: auto;
            }

             @media (max-width:576px) {
              margin: auto;
              
            }
            @media (max-width:992px) {
               margin: auto;
               margin-top: 1rem;
            }
         
            
           }
          
       
       }
      }
    }
    
   
    
    
  }
  }



.top-body{
  // height:80vh;
  .row{
    .arrow-col-parent{
      
        position: relative;
        .aroow{
          position: relative;
          
          // margin-top: 3rem;
          .arrow-col{
            display: flex;
            justify-content: center;
            transform: translateY(-200%);
            // margin-top: 3rem;
            z-index: 99;
            position: absolute;
           
            span{
              position: absolute;
              display: inline-block;
              width: 2rem;
              height: 2rem;
              border-bottom: 4px solid black;
              border-right: 4px solid black;
              transform: rotate(45deg)  translate(100%, 100% ) ;             
              margin: -1rem;
              animation: arrows-animate 2s infinite;
              z-index: 99;
              &:nth-child(2){
                animation-delay: -0.3s;
              }
              &:nth-child(3){
                animation-delay: -0.6s;
              }

              @keyframes arrows-animate {
                0%
                {
                    opacity: 0;
                    transform: rotate(45deg) translate(-20px, -20px) }
                    
                    50% {
                        opacity: 1;
                    }
            
                    100% {
                        opacity: 0;
                        transform: rotate(45deg) traslate(20px, 20px);
                    }
             }
          
            }
         
        }
        }
      }
    
    .row{

      gap: 2.1rem;
      .right-image{
        &:hover{
          transform: scale(1.1);
        }
        
        figure{
          .figcaption{
            background-color:rgb(69, 69, 248);
            text-align: center;
            color: white;
          }
        }
      }
    }
  }
}

.body-card{
  // margin-top: 10rem;
  height: 25%;

.row{
  .card-map{
    .card{
      img{
        height:10rem;
        &:hover{
          transform: scale(1.1);
        }
      }
    }

  }

}
}

  



}