@use "../../../assets/scss/variables" as v;
@use "../../../assets/scss/mixins" as m;
$breakpoint: 992px;

.header-navbar{
  background-color: rgba(234, 236, 239, 0.928);

  .gradiant{
  
    background-image: linear-gradient(to bottom, #0a0a0acd, #1d1a1abe), url("../../../assets/img/product/0aa0ee14-5e8c-4244-a15c-266c8e5e33a0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  
    .gradiant-container{
      .zirve-topbar{
        display: flex;
        justify-content: space-between;
        position: relative;
        // z-index: 99;
        [class^="col"]{
          &:nth-child(1){
            z-index: 99;

            a{
              img{
                @media (max-width:470px) {
                   width: 25rem; 
                   color: white;
                   
                }
              }
            }
          }
         
        
        }
       ;
      
        
      
        .top-number{
          
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 99;
            a{
              color: rgb(241, 241, 247);
              text-decoration: none;
              font-size: 3rem;
              @media (max-width:768px) {
                font-size: 2rem;
                margin-right: 4rem;
          }
            }
    
           
        }
        
      }

     }

  }
   
  

 
  }
  .navbar-streach{
    background-image: linear-gradient(180deg,rgb(23, 23, 24), #eee9e9cd   );
    font-size: 1.2rem;
    
    .container{
      a{
        margin-left: 1rem;
        color: white;
        cursor: pointer;
        &:hover{
          color: rgb(237, 229, 4);
        }
      }
    }
  }